flask
gunicorn
pdf2docx
python-docx
docx2pdf
PyPDF2
pypdf
pdf2image
Pillow
img2pdf
reportlab
openpyxl
pandas
python-pptx
pptx
xlsxwriter
tabula-py
pdfplumber
camelot-py
opencv-python-headless
numpy
